.admin__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.suggestedCategories {

  h5 {
    text-align: center;
  }

  &__controls {
    display: flex;

    button {
      margin: 1rem;
      color: white;
    }
  }
}
