.app__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  span {
    color: white;
  }

  img {
    margin-left: 0.2rem;
    width: 2rem;
    height: auto;
  }

  .app__logo a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  div {
    display: flex;
    align-items: center;

    button {
      color: white;

      &:hover {
        color: #2196f3;
      }
    }

    a {
      font-size: 1.3rem;
      color: white;
      padding: 0 1rem;
      text-decoration: none;

      &:hover {
        color: #2196f3;
      }
    }
  }
}